body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
}

ol,
ul {
  padding-left: 30px;
}

.board-row {
  clear: both;
  content: "";
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.game-info {
  min-height: 50px;
}

.unrevealed {
  background-color: black;
}

.bomb {
  background-color: red;
}

.numbered {
  background-color: blue;
}
